@model IEnumerable<OneRopani.Banner.Models.AdModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PropertyType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ropani)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Daam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paisa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HouseArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfFloors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BedRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LivingRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kitchen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiningRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Municipality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WardNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoadWith)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistanceFromMainRoad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ropani)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Daam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paisa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HouseArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfFloors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BedRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LivingRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kitchen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiningRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Municipality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WardNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoadWith)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistanceFromMainRoad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
    </tr>
}

</table>
